<div class="row">
  <div class="one column">
    {% if comment.gravatar %}
      <img alt="Gravatar for {{ comment.name | xml_escape }}" src="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=64&amp;d=mp&amp;r=pg" srcset="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=128&amp;d=retro&amp;r=pg 2x" class="avatar avatar-64 photo" height="64" width="64">
    {% else %}
      <img alt="Avatar for {{ comment.name | xml_escape }}" src="{{comment.avatar}}" class="avatar" height="64" width="64">
    {% endif %}
  </div>
  <div class="eleven columns" id="{{ comment.id }}">

        <span class="author">
          {{ comment.name | xml_escape }}
        </span>
        <span class="bullet">•</span>
        <a href="#{{ comment.id }}" class="muted" title="{{ comment.date | date_to_rfc822 }}">
          {{ comment.date | date: '%B' }}
          {% assign d = comment.date | date: "%-d" %}
          {% case d %}
            {% when '1' or '21' or '31' %}{{d}}st,
            {% when '2' or '22' %}{{d}}nd,
            {% when '3' or '23' %}{{d}}rd,
            {% else %}{{d}}th,
          {% endcase %}
          {{ comment.date | date: '%Y' }}
        </a>

      <div class="comment-body">{{ comment.message | markdownify }}</div>
  </div>
</div>
