{% capture default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (page.slug | fallback: default_slug) | downcase | replace: '.', '-' }}{% endcapture %}
{% assign comments_map = site.data.comments[slug] %}
{% assign comments = site.emptyArray %}
{% for comment in comments_map %}
  {% assign comments = comments | push: comment[1] %}
{% endfor %}
{% assign comment_count = comments | size %}
{% assign author = page.author | downcase %}
<div id="comments">
  <h2>Comments</h2>
  {% include comment-new.html %}
  <h3 id="comment-count">{% if comment_count == 1 %}One response{% else %}{{ comment_count }} responses{% endif %}</h3>

  {% assign sorted_comments = comments | sort: 'date' %}
  {% for comment in sorted_comments %}
    {% assign commentor = comment.name | downcase %}
    <div {% if commentor == author %} class="byauthor" {% endif %}>
      {% include comment.html %}
    </div>
    <br/>
  {% endfor %}

</div>