<div id="myfooter">
  <footer class="container">
    <div class="one-third column">
      <ul style="list-style: none;">
        <li>
          {% if site.author %}
            {{ site.author }}
          {% else %}
            {{ site.title }}
          {% endif %}
        </li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="one-third column">
      {% include social.html %}
    </div>

    <div class="one-third column">
      <p>{{ site.description | escape }}</p>
    </div>
  </footer>
</div>