$mybackground: #E4F2FD;
$myborder-color: #C6D9E9;
$myborder-width: 2px;

$mywarning-color: #FFFFDD;
$mywarning-border-color: #CCCCAA;
$mytiled2unitywarning-color: #F4E3B2;
$mytiled2unitywarning-border-color: #F8B800;

$even-background: #E4F2FD;
$even-border-color: #C6D9E9;
$odd-background: #EEEEEE;
$odd-border-color: #CCCCCC;

@font-face
{
  font-family: 'FontAwesome';
  src: url("/assets/font/fontawesome-webfont.eot");
  src: url("/assets/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),url("/assets/font/fontawesome-webfont.woff") format("woff"),url("/assets/font/fontawesome-webfont.ttf") format("truetype"),url("/assets/font/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"),url("/assets/font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

#myheader
{
  width: 100%;
  background: $mybackground;
  border-bottom-width: $myborder-width;
  border-bottom-color: $myborder-color;
  border-bottom-style: solid;
  margin-bottom: 10px;
  padding-top: 10px;
}

#myheader a
{
  color: #222;
  text-decoration: none;
}

#mysidebar
{
}

#myfooter
{
  width: 100%;
  border-top-width: $myborder-width;
  border-top-color: $myborder-color;
  border-top-style: solid;
  padding-top: 10px;
}

.mybreak
{
  border-top-style: none;
  border-bottom-color: $myborder-color;
  border-bottom-style: solid;
  border-bottom-width: $myborder-width;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mydeprecated:before
{
  padding: 0;
  content: "Deprecation notice:\A";
  white-space: pre-wrap;
  font-weight: 700;
}

.mydeprecated
{
  background:$mywarning-color;
  border-color: $mywarning-border-color;
  border-style: none;
  border-left-style: solid;
  border-width: $myborder-width;
  padding: 10px;
  padding-top: 1px;
}

.mytiled2unitywarning:before
{
  padding: 0;
  content: "Warning: Tiled2Unity Is old software!\A";
  white-space: pre-wrap;
  font-weight: 700;
}

.mytiled2unitywarning
{
  background: $mytiled2unitywarning-color;
  border-color: $mytiled2unitywarning-border-color;
  border-style: none;
  border-left-style: solid;
  border-width: $myborder-width;
  padding: 10px;
  padding-top: 1px;
}

/* Homepage styling */
li.post-item-even
{
  background: $even-background;
  list-style-type: none;
  padding: 8px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: $even-border-color;
}

li.post-item-odd
{
  background: $odd-background;
  list-style-type: none;
  padding: 8px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: $odd-border-color;
}

span.post-meta
{
  font-weight: 700;
}

iframe
{
  margin-bottom: 1em;
}

.info-circle:after
{
  content: "\f05a";
  display: inline-block;
  font: 1.3em FontAwesome;
  color: #777;
}

input + .info-circle:after
{
  position: relative;
  left: -26px;
  margin-right: -15px;
  top: 2px;
}

img.avatar.avatar-64.photo
{
  margin: 5px;
}

.byauthor
{
  border-color: $myborder-color;
  border-style: solid;
  border-width: 1px;
}

span.author
{
  font-weight: 700;
}

/* Styles from the old hosted www.seanba.com website */
img.sba-align-left
{
  border-style: none;
  border-width: 0;
  padding: 0;
  margin: 0.5em 1em 0.25em 0;
  float: left;
  clear: left;
  display: inline;
}

img.sba-align-left-tight
{
  border-style: none;
  border-width: 0;
  padding: 0;
  margin-right: 0.5em;
  float: left;
  clear: left;
  display: inline;
}

img.sba-align-right
{
  border-style: none;
  border-width: 0;
  padding: 0;
  margin: 0.5em 0 0.25em 1em;
  float: right;
  clear: right;
  display: inline;
}

.sba-footnotes
{
  background-color: #E9F7F7;
  border-color: #438988;
  border-width: 2px;
  border-style: none;
  border-left-style: solid;
  padding: 10px;
  margin: 0;
  margin-bottom: 1.5em;
}

.sba-footnotes p
{
  margin-bottom: 0;
}

.dev-crush
{
    background-color: #FFD1C9;
    border-color: #AE0000;
    border-width: 2px;
    border-left-style: solid;
    padding-top: 54px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-image: url(images/dev-crush.png);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    margin-bottom: 1em;
}

.review-box
{
  border-color: #00AE00;
  background-color: #DCFFDC;
  border-width: 1px;
  border-style: solid;
  font-family: "Calibri";
  font-size: 10;
  text-align: left;
  height: 168px;
  padding-top: 8px;
  padding-left: 8px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.review-box img
{
  margin-right: 1em;
  float: left;
  clear: left;
  display: inline;
  height: 160px;
}

.wp-caption
{
  border-style: solid;
  border-color: #ddd;
  background-color: #eee;
  text-align: center;
  font-style: italic;
}

.wp-caption.alignnone
{
  clear: both;
  margin-bottom: 1em;
  border-width: 1px;
  padding-top: 8px;
}

.format_text
{
  font-size: 1.6em;
  line-height: 1.5em;
}

format_text .wp-caption
{
  padding: 0.688em;
  border-width: 0.063em;
}