---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

{%- if site.posts.size > 0 -%}
<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
<div class="row">
  <div class="eight columns">
    <ul class="post-list">

      {%- for post in site.posts -%}
      {%- assign mod2 = forloop.index | modulo: 2 -%}
        <li {% if mod2 == 0 %} class="post-item-odd"{% else %} class="post-item-even" {% endif %}>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h5>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h5>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            <a class="post-link-readmore" href="{{ post.url | relative_url }}">(Read more)</a>
          {%- endif -%}
        </li>
      {%- endfor -%}

    </ul>
  </div>
  <div class="four columns"> {% include sidebar.html %} </div>
</div>

{%- endif -%}