---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_long_string }}</p>

<div class="row">
  <div class="eight columns"> {{ content }} </div>
  <div class="four columns"> {% include sidebar.html %} </div>
</div>

{% if site.include_related_posts %}
<h3>Related Posts</h3>
<ul>
  {% for post in site.related_posts limit:5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<!-- Disable comments for now
{% include comments.html %}
-->

